html{
  scroll-behavior: smooth;
}
body{
background-color: white;
}
header{
    background-color: white;
}
#logo{
    position: relative;
    width: 20%; 
    height:auto;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body {
	margin: 0;
	padding: 0;
}

.backgroundContainer {
	background:#ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.blob-c {
	min-height: 50vh;
	overflow: hidden;
	position:absolute;
	width: 100%;

	filter: blur(10px);
/*   background: rgba(255,255,255,0.1) */
}

.shape-blob {
	background:#c49c38;
	height: 60px;
	width: 80px;
	border-radius: 40% 50% 30% 40%;
  	animation: 
		transform 18s ease-in-out infinite both alternate,
		movement_one 12s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 75%;
	top: 40%;
}
.shape-blob.one{
	background:#86774f;
	height: 150px;
	width: 200px;
	left: 10px;
	top: 10px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six{
	background:#c49c38;
	height: 70px;
	width: 100px;
	left: 160px;
	top: 200px;
	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.four{
	background:#3a3528;
	height: 100px;
	width: 80px;
	left: 350px;
	top: 60px;
	transform: rotate(-180deg);
	animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.five{
	background:#978148;
	height: 100px;
	width: 80px;
	left: 480px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}

.shape-blob.two{
	background:#e6cd8e;
	height: 150px;
	width: 150px;
	left: 600px;
	top: 150px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}

.shape-blob.three{
	background:#c7b27d;
	height: 150px;
	width: 150px;
	left: 800px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}

.myName {
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;
	letter-spacing: 2px;
	font-weight: 900;
	color: white;
	line-height: .9em;
	position:absolute;
	z-index: 5;
	text-shadow: .7px 3px 15px rgba(41, 24, 15, 0.9);
  text-align: center;
}

#myBtn {
  font-family: 'Montserrat', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #86774f; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 25px 10px 25px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .nav-7{
    background:#ffffff;
  }
  .nav-7 nav{
    background:#ffffff;
  }
  .nav-7 .linktext{
    font-size:1.3em;
    text-align:center;
    position:relative;
    z-index:2;
    color:#86774f;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;    
    -webkit-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
  }
  .nav-7 .linktext:before{
    display:inline-block;
    z-index:-1;
    content:'';
    position:absolute;
    left:-10px;
    height:100%;
    width:calc(100% + 20px);   
    -webkit-transition:0.3s ease-in-out;
 transition:0.3s ease-in-out;  
    -webkit-transition-delay:0s;
      transition-delay:0s;
    opacity:1;
    background:#fff7e2ab;
    border-radius:10px;    
    -webkit-transform:scale(0.2);
    transform:scale(0.2);
    opacity:0;
  }
 
  .nav-7 .item{
    position:relative;
    display:inline-block;
    height:35px;
    padding-top:15px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:20px;
    background:transparent;    
    -webkit-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
    z-index:2;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
  }
  .nav-7 .item:hover .linktext{
 
    -webkit-transform:scale(1.2);
       transform:scale(1.2);
    color:#c9b885
  }
  .nav-7 .item:hover .linktext:before, .nav-7 .item:hover .linktext:after{
    opacity:1;
   
    -webkit-transform:scale(1);
     transform:scale(1);
  }
 .grid-container {
  display: flex;
  grid-template-columns: 1fr;
column-gap: 40px;
  justify-content: center;
  align-content: center;
  padding: 50px;
  } 
  
  .firstBanner{
    background-color: #ddc58a;
  }
  .secondBanner{
    background-color: white;
  }
  .thirdBanner{
    background-color: #ddc58a;
  }
  .fourthBanner{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item{
    font-family: 'Montserrat', sans-serif;
    
    width: 200%;
    
    
  }
  .introDiv{
    color:white;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   padding: 21%;
   font-size: 23px;
    
    
  }
#hello{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 40%;
   
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    
    
  }

#mainMessage{
    
    padding: 5%;
    font-size: 23px;
    
  }
  /*   /NAV-7   */
  .watermark {
    /* Used to position the watermark */
    position: relative;
}

.watermark__inner {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position 
    left: 100px;
    position: absolute;
    top: 0px;*/

    /* Take full size */
     height: 100%;
    width: 100%;
}

.watermark__body {
    /* Text color */
    color: rgba(255, 255, 255, 0.4);

    /* Text styles */
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;

   

    /* Disable the selection 
    user-select: none;*/
}
.watermark2__body {
  /* Text color */
  color: rgba(0, 0, 0, 0.4);

  /* Text styles */
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  

  /* Disable the selection 
  user-select: none;*/
}
.mySlides {
  display:none;
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0;
}
 .slideshowTitle{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.575);
  font-weight: bold;
  font-size: 3rem;
 }
 .fa-solid:hover{
  color: rgba(255, 251, 0, 0.753) !important;
  }

  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 0.2rem;
  }
  
  .icon {
    width: 12rem;
    height: 11.25rem;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }


    .codingTitle{
      color: rgba(0, 0, 0, 0.4);

      /* Text styles */
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      align-items: center;
      margin-left: 250px;
        
    }

    .testingTitle{
      color: rgba(0, 0, 0, 0.4);

      /* Text styles */
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 100px;   

    }

    li{
      color: rgba(0, 0, 0, 0.4);
      font-size: 25px;
      font-weight: bold;
      align-items: center;
      justify-content: center;
    }

    form{
      background: rgba(255, 255, 255, 0.49);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.4px);
      -webkit-backdrop-filter: blur(4.4px);
      border: 1px solid rgba(255, 255, 255, 0.72);
      display: flex;
      flex-direction: column;
      padding: 80px;
      width: 100%;
      max-width: 200%;
      font-family: 'Montserrat', sans-serif;
      /* border-radius: 10px; */
    }
    form h3{
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: rgba(0, 0, 0, 0.363);
      font-weight: bold;
      font-size: 3rem;
    }
    form input, form textarea{
      border: 0;
      margin: 10px 0;
      padding: 20px 350px 20px 10px;
      outline: none;
      background: #c9b88528;
      font-size: 16px;
      border-radius: 12px;
    }
    form button{
      padding: 15px;
      background-color: #86774f;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      border: 0;
      border-radius: 40px;
      outline: none;
      cursor: pointer;
      width: 200px;
      margin: 20px auto 0;
    }
    .contactDetails{
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      background: rgba(255, 255, 255, 0.49);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.4px);
      -webkit-backdrop-filter: blur(4.4px);
      border: 1px solid rgba(255, 255, 255, 0.72);
      
      padding: 90px;
      
    }

    .contactDetails p{
      margin-top: 70px;
      align-items: center;   
      justify-content: center;
    }